# ===============================
# Application
# ===============================
APP_NAME=user-service
APP_ENV=development
APP_PORT=8080

# ===============================
# PostgreSQL (Write DB)
# ===============================
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=write_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_SSLMODE=disable

# ===============================
# MongoDB (Read DB)
# ===============================
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=read_db

# ===============================
# RabbitMQ
# ===============================
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
